In [7]:
import spacy
import pandas as pd

In [8]:
import math

In [9]:
train = pd.read_csv('ar_gk_train.tsv',sep = '\t')
test = pd.read_csv('ar_gk_test.tsv',sep = '\t')

In [10]:
train.columns=['token','tag']
test.columns=['token','tag']

In [5]:
token_list = train.token.values.tolist()
tag_list= train.tag.values.tolist()

In [161]:
train.columns=['token','tag']
token_list = train.token.values.tolist()
tag_list= train.tag.values.tolist()
inputs=['']*len(token_list)
outputs=['']*len(token_list)
count=0
for i in token_list:
    if type(i) != float: 
        inputs[count]+=i
        inputs[count]+=' '
    else:
        temp=inputs[count].strip()
        inputs[count]=temp
        count+=1
count=0
for i in tag_list:
    if type(i) != float: 
        outputs[count]+=i
        outputs[count]+=' '
    else:
        temp=outputs[count].strip()
        outputs[count]=temp
        count+=1
        
only_inputs=[]
for i in inputs:
    if len(i) !=0:
        only_inputs.append(i)
        
only_outputs=[]
for i in outputs:
    if len(i) !=0:
        only_outputs.append(i)
        
import csv
with open('train.csv', 'w') as f:
    writer = csv.writer(f)
    writer.writerows(zip(only_inputs, only_outputs))

In [170]:
test.columns=['token','tag']
token_list = test.token.values.tolist()
tag_list= test.tag.values.tolist()
inputs=['']*len(token_list)
outputs=['']*len(token_list)
count=0
for i in token_list:
    if type(i) != float: 
        inputs[count]+=i
        inputs[count]+=' '
    else:
        temp=inputs[count].strip()
        inputs[count]=temp
        count+=1
count=0
for i in tag_list:
    if type(i) != float: 
        outputs[count]+=i
        outputs[count]+=' '
    else:
        temp=outputs[count].strip()
        outputs[count]=temp
        count+=1
        
only_inputs=[]
for i in inputs:
    if len(i) !=0:
        only_inputs.append(i)
        
only_outputs=[]
for i in outputs:
    if len(i) !=0:
        only_outputs.append(i)
        
import csv
with open('test.csv', 'w') as f:
    writer = csv.writer(f)
    print(writer)
    writer.writerows(zip(only_inputs, only_outputs))

<_csv.writer object at 0x000002C5A293A040>

In [187]:
df_train=pd.read_csv('train.csv', encoding='utf-8', encoding_errors='ignore')

In [188]:
df_train.columns=['sentence','tags']

In [189]:
df_train.to_csv('final_train.csv',index=False)

In [182]:
df_test=pd.read_csv('test.csv', encoding='utf-8', encoding_errors='ignore')
df_test.columns=['sentence','tags']
df_test.to_csv('final_test.csv',index=False)

In [190]:
df_train=pd.read_csv('final_train.csv', encoding='utf-8', encoding_errors='ignore')

In [191]:
df_train

,sentence,tags
0,"2 tablespoons vegetable oil , divided",QUANTITY UNIT NAME NAME O STATE
1,2 tablespoons dried marjoram,QUANTITY UNIT DF NAME
2,"1 large red onion , 1/4-inch slices pulled int...",QUANTITY SIZE NAME NAME O O O O O O
3,"2 jalapeno peppers , seeded and minced",QUANTITY NAME NAME O STATE O STATE
4,1 tablespoon olive oil,QUANTITY UNIT NAME NAME
...,...,...
6606,2 lbs valrhona dark bittter chocolate,QUANTITY UNIT NAME NAME NAME NAME
6607,"3 cucumbers , if using English or Burpless cuc...",QUANTITY NAME O O O O O O O O O O O O
6608,6 ounces Greek olives -LRB- in brine or oil -RRB-,QUANTITY UNIT NAME NAME O O O O O O
6609,11/4 teaspoons baking soda,QUANTITY UNIT NAME NAME
6610,3-4 tablespoons warm water -LRB- If using larg...,QUANTITY UNIT TEMP NAME O O O O O O O O O O O ...

In [192]:
df_train.columns=['sentence','tags']

In [193]:
df_train

,sentence,tags
0,"2 tablespoons vegetable oil , divided",QUANTITY UNIT NAME NAME O STATE
1,2 tablespoons dried marjoram,QUANTITY UNIT DF NAME
2,"1 large red onion , 1/4-inch slices pulled int...",QUANTITY SIZE NAME NAME O O O O O O
3,"2 jalapeno peppers , seeded and minced",QUANTITY NAME NAME O STATE O STATE
4,1 tablespoon olive oil,QUANTITY UNIT NAME NAME
...,...,...
6606,2 lbs valrhona dark bittter chocolate,QUANTITY UNIT NAME NAME NAME NAME
6607,"3 cucumbers , if using English or Burpless cuc...",QUANTITY NAME O O O O O O O O O O O O
6608,6 ounces Greek olives -LRB- in brine or oil -RRB-,QUANTITY UNIT NAME NAME O O O O O O
6609,11/4 teaspoons baking soda,QUANTITY UNIT NAME NAME
6610,3-4 tablespoons warm water -LRB- If using larg...,QUANTITY UNIT TEMP NAME O O O O O O O O O O O ...